/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/*small screeen*/

body {
  color: #5a5a5a;
  overflow: auto; 
  overflow-x: hidden;
}

.form-container
{
  padding-top: 20px;
  padding-bottom: 20px;
}
.form-container .asteriskField
{
  color: red;
}
.footer
{
    background-color: #827775;
    padding: 20px 10px;
    color: white;
    text-align: center;
    font-size: 12px;
}

.footer a
{
  color: white;
  font-weight: 700;
 
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}


/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


.navi
{
  text-align: center;
  font-weight: 0;
  background-color: #768f3f;
}

/* CUSTOMIZE THE TEXT 
-------------------------------------------------- */
.text-block
{
  position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
     background-color: #89ad3a;
     color: #FFFFFF;
}

.text-block a
{
  color: white;
}

.text-block-green
{
 background-color: #89ad3a;
}

.block1
{
  padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/*---- CUSTOMIZE PRODUCTS */
  .product-list
  {
    margin-right: 10px;
    
  }
 .product-list p
 {
  text-align: center;
  color: #827775;
  font-weight: 200;
  padding-left: 10px;
  font-size: 15px;
 }



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 200px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 200px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing
{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #f9f9f9;
}

.marketing-container
{
    padding-right: 20px;
   padding-left: 20px; 
   text-align: center;
}
.marketing .col-lg-4 {
  margin-bottom: 30px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.marketing img
{
  height: 50px;
  width: 50px;
}

.testimonials
{
      padding-top: 30px;
      padding-bottom: 20px;
}
.testimonials .col-lg-4 {
  margin-bottom: 10px;
  text-align: center;
}
.testimonials h2 {
  font-weight: normal;
}
.testimonials .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.testimonials .custom {
  font-size: 12px;

}

.payment
{
   padding-top: 20px;
    padding-bottom: 10px;
    background-color: #f9f9f9;
}

  .cart-container
  {
  margin-bottom: 20px;
  border: 1px solid #000000;
   
  }

  .total-price
  {
    font-weight: 700;
    padding-left: 5px;
  }
  .final-total-price
  {
    
    padding-left: 5px;
    font-weight: 700;
    background-color: #f7f2ec;
    margin-left: 1px;
    margin-right: 1px;
    padding: 10px 5px 0px 5px;
    margin-bottom: 15px;
  }
  .details-below
  {
    padding-left: 20px;
    font-size: 13px;
    font-weight: 700;
  }

  .details-below a
  {
    color: #e03b7d;

  }
  .pink-container
  {
   padding-left: 20px;
     color: #e03b7d;
     }

  .pink-container p
  {
    color: #000;
    font-size: 14px;
	margin-right: 20px;
  }
  .cart-container span
  {
    text-align: right;
    padding-right: 20px;
  }

.product-table
{
    margin-right: 10px;
}
.product-table p
{
  text-align: center;
  font-weight: 700;
}

.table-price
{
  font-weight: 700;
  padding-top: 5px;
  text-align: left;
}
.table-details
{
  font-size: 13px;
  padding-left: 7px;
}


.basket-container
{
  padding-top: 30px;
}
.basket
{
  font-weight: 700;
  color: #e03b7d;
}

/*Foreslåede produkter*/
.product-container
{
  margin: 0 auto;
  background-color: #FFFFFF;
}
 .product-bar
 {
  background-color: #b9cb91;
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 300;
  padding: 10px 20px 10px 10px; 
 }
.products
{
  padding-left: 10px;
  padding-bottom: 15px;
}
.products-row
{
  padding: 20px 10px 20px 15px;
  border-bottom: 1px solid #e0dddd
}

.product-details
{
  padding-left: 10px;
  color: #5a5a5a;
  line-height: normal;
}
.product-details p
{
  padding-top: 10px;
  color: #1d6f0f;
  font-size: 16px;

}

.tbody-table
{
  padding-bottom: 10px;
  padding-top: 10px;
}
/* title bar
------------------------- */
.title-bar
{
   padding: 70px 10px 20px 10px;
   color: #000000;
   font-weight: 700;
   text-align: center;
   background-color: #f7f2ec;

}

.form-title
{
   padding: 10px 10px 10px 10px;
   margin-bottom: 20px;
   color: #000000;
   font-weight: 700;
   font-size: 19px;
   text-align: center;
   background-color: #f7f2ec;

}

.circle1
{
   border-radius: 50%;
   height: 35px;
   width: 35px;
   padding-left: 10px;
   border: 1px solid #bfb9b8;
   font-size: 21px;
   margin-right: 15px;
}

.circle1:nth-child(1)
{
   
  background-color: #827775;
  color: #FFFFFF;

}

.circles
{
  
    margin-bottom: 10px;  
    margin-left: 30px;
}

.btn-products
{
  text-align: center;
  background-color: #fdf8f2;
  color: #e03b7d;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 20px 0;
  border: 2px solid #CECECE; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.feature-banner
{
  padding: 70px 10px 20px 10px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */
/*medium screen ==================================================*/
@media all and (min-width: 768px) {
  /* Navbar positioning here*/
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .feature-banner
  {
    padding: 70px 20px 20px 20px;
    font-size: 20px;

  }

  .featurette-heading {
    font-size: 50px;
  }


}
/*big screeen ==================================================*/
@media all and (min-width: 992px) 
{
    .marketing-container
  {
      padding-right: 220px;
     padding-left: 220px; 
  }
   .cart-container
  {
  margin-bottom: 20px;
  border: 1px solid #000000;
  margin-top: 50px;
    margin-bottom: 50px;
   
  }

  .circles
{
  
    margin-bottom: 15px;  
    margin-left: 80px;
}

   .featurette-heading 
  {
    margin-top: 120px;
  }

   .feature-banner
   {
     padding: 90px 20px 20px 20px;
     font-size: 18px;

   }
   .title-bar
   {
   padding: 100px 10px 20px 10px;
   color: #000000;
   font-weight: 700;
   text-align: center;
   background-color: white;
   }

   .product-bar
   {
    padding-left: 150px;
   }

   .products
   {
    padding-right: 150px;
    padding-left: 150px;
   }

   /*---- CUSTOMIZE PRODUCTS */
  .product-list
  {
    margin-right: 10px;
    
  }

  .product-list p
  {
    color: #827775;
    font-weight: 200;
    padding-left: 35px;
    font-size: 15px;
    text-align: inherit;
  }
   .footer
   {
        position: inherit;
    margin-bottom: -20px;
   }
   .form-container
  {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #e5e5e5;
    background-color: #FFFFFF;
  }
  .ffcon
  {
    padding-right: 150px;
    padding-left: 150px;
    margin-right: auto;
    width: 700px;
    margin-left: auto;
  }

}